<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDatilsMapper">


    <insert id="insetOrderDetails" parameterType="java.util.List">
        insert into sky_take_out.order_detail (name, image, order_id, dish_id, setmeal_id, dish_flavor, amount) VALUES
             <foreach collection="ordersList" separator="," item="ol">
                 (#{ol.name}, #{ol.image}, #{ol.orderId}, #{ol.dishId}, #{ol.setmealId}, #{ol.dishFlavor}, #{ol.amount})
             </foreach>
    </insert>
</mapper>
